STRAPI_PATH=YOUR_STRAPI_ENDPOINT_PATH
STRAPI_ACCOUNT=YOUR_STRAPI_BACKEND_ACCOUNT
STRAPI_PASSWORD=YOUR_STRAPI_BACKEND_PASSWORD
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
# The channel that the message will forward to
DISCORD_DEFAULT_CHANNEL=123451234512345
# The channel that the user should send their message to
DISCORD_COMMAND_CHANNEL=123456712345671
