STRAPI_PATH=http://strapi:1337
STRAPI_ACCOUNT=strapi
STRAPI_PASSWORD=strapi
DISCORD_BOT_TOKEN=YOUR_BOT_TOKEN
# The channel that the message will forward to
DISCORD_DEFAULT_CHANNEL=123451234512345
# The channel that the user should send their message to
DISCORD_COMMAND_CHANNEL=123456712345671
