# The hostname Strapi will listen to (you should not change it)
HOST=0.0.0.0
# The port Strapi will listen to (you should not change it)
PORT=1337
# The environment mode (production or development)
NODE_ENV=production
# The database client
DATABASE_CLIENT=postgres
# The database name
DATABASE_NAME=strapi
# The database host
DATABASE_HOST=postgres
# The database port
DATABASE_PORT=5432
# The database username
DATABASE_USERNAME=strapi
# The database password
DATABASE_PASSWORD=strapi
# The JWT secret (YOU SHOULD MODIFY IT!)
ADMIN_JWT_SECRET=SPECIFY_IT_YOURSELF
